SENDGRID_API_KEY=SG_REEMPLAZAR
SENDGRID_FROM_EMAIL=noreply@proan.com
CAMBIO_DIVISA_EMAIL_TO=pcoma@quantrue.com,fromeo@quantrue.com
CAMBIO_DIVISA_EMAIL_DRY_RUN=false
BANXICO_API_TOKEN=REEMPLAZAR_CON_TOKEN_BANXICO
